extends ./layouts/index

block contenido 
    main.container.mt-5 
        .row

            .col-md-5
                img(src="img/nosotros.jpg" alt="Imagen sobre nosotros" class="img-fluid")
            .col-md-5
                h1=pagina
                blockquote Aenean consectetur pharetra nisl, aliquet convallis sem dapibus ut. In hac habitasse platea dictumst. Pellentesque ornare elit at arcu maximus, sit amet hendrerit erat tristique. Morbi ac quam lacinia, rhoncus nulla ut, dignissim nulla. Donec porttitor dapibus dui, quis dignissim dolor efficitur nec. Praesent luctus sapien in ante imperdiet, id pretium dolor semper. Mauris aliquam efficitur lorem gravida tristique. In sagittis dignissim urna, vel lobortis lacus commodo non. Proin pharetra gravida felis, et maximus lectus sagittis at. Pellentesque nec ultrices arcu. Aenean nec quam nec ante placerat efficitur. Aliquam non euismod mi. Maecenas a nunc felis. Aliquam ac risus pretium nulla molestie sagittis a tincidunt neque. In facilisis interdum neque ac mollis. Pellentesque facilisis felis nec dui cursus, ac dignissim velit efficitu
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin massa mauris, placerat blandit urna blandit nec. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin massa mauris, placerat blandit urna blandit nec. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin massa mauris, placerat blandit urna blandit nec. 
                    
